@import url("https://fonts.googleapis.com/css2?family=Nunito&display=swap");

* {
  margin: 0;
  font-family: "Nunito", sans-serif;
}

body {
  background-color: #f2e9de;
}

.flex-wrapper {
  width: 57vw;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row-reverse;
  flex-wrap: wrap;
  padding-top: 40px;
  padding-bottom: 40px;
  background-color: #f7f3ee;
}

.flex-item {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 21px;
  text-align: center;
  width: 300px;
  height: 200px;
  /* box shadow  */
  -webkit-box-shadow: 7px 7px 5px 3px rgba(242, 232, 211, 1);
  -moz-box-shadow: 7px 7px 5px 3px rgba(242, 232, 211, 1);
  box-shadow: 7px 7px 5px 3px rgba(242, 232, 211, 1);
  background-color: #fff;
  border-radius: 10px;
  transition: ease-in-out .3s;
}

.flex-item:hover {
  -webkit-box-shadow: 10px 10px 5px 3px rgb(220, 209, 187);
  -moz-box-shadow: 10px 10px 5px 3px rgb(220, 209, 187);
  box-shadow: 10px 10px 5px 3px rgb(220, 209, 187);
}

.item-header{
  font-size: 28px;
}

@media only screen and (max-width: 600px) {
  .flex-wrapper {
    width: 85vw;
    margin: auto;
    justify-content: center;
    flex-direction: column;
    padding-top: 40px;
    padding-bottom: 40px;
    background-color: #f7f3ee;
  }

  .item-header{
    font-size: 28px;
  }
}
